.navbar-brand-logo {
    filter: brightness(0) invert(1);
    max-width: 195px;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.75);
}