.background{
    background-image: linear-gradient(180deg,rgb(187, 46, 41),rgba(187, 46, 41,40%));
    align-content: center;
    display: flex;
    flex-direction: column;
    
}
.background .container{
    align-self: flex-end;
    height: 100%;
}
.background .objects{
    align-self: flex-end;
}
.container{
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    width: 40%;
    
}
.container .card{
    margin-top: auto;
    margin-bottom: auto;
}
.objects{

    height: fit-content;
    width: 100%;
    justify-content:space-around;
    display: flex;
    overflow:visible;
    margin-bottom: 0%;
    text-align: left;
}
.obj{
    font-size: 24px;
    color: #ebebeb;
    animation: movement 9.6s linear infinite;
    transform: translateY(100%);
    border-radius: 1em;
    &:nth-child(2){
        border-radius: 11em;
        width: 50%
    }
    &:nth-child(3){
        border-radius: 1em;
        transform: rotate(30deg);
        animation-delay: 300ms;

    }
    &:nth-child(4) {
        border-radius: 3em;

        transform: rotate(-60deg);
    }
    &:nth-child(5){
        border-radius: 1.5em;

        animation-delay: 1s;
        transform: rotate(45deg);
    }
    &:nth-child(6) {
        width: 0.5em;
        border-radius: 4em;
        height: 2em;
        transform: rotate(45deg);
    }
    &:nth-child(7) {
        border-radius: 10em;
        width: 2em;
        height: 1em;
        transform: rotate(45deg);
    }
    &:nth-child(8) {
        border-radius: 5.5em;
        width: 1.5em;
        animation-delay: 1s;
        height: 2em;
        transform: rotate(45deg);
    }
}

@keyframes movement {
    from {
        transform: translateY(100%) rotate(-50deg);
        filter:opacity(100%);
        
    }

    to {
        filter: opacity(0%);
        transform: translateY(calc(-100vh + -100%)) rotate(30deg)
    }
}