
.bg-primary{
    background-color: rgb(187,46,41) !important;
}
nav .logo{
    width: 8em;
}
.navbar-brand .logo{
    filter: brightness(100);
}
.navbar-brand{
    display: flex;
    justify-content: flex-start !important;
}
.navbar  h1{
    display: flex;
    align-items: center;    
}

body {
    font-family: "Merriweather Sans", sans-serif;
    
}

.cinzel-logo {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.navbar  .cinzel-logo{
    color: white;
}
.nav-link{
    color: white;
}
.navbar-toggler{
    filter:brightness(100);
    border-color: white;
    border-radius: 0.4em;
}
.nav-link:hover{
    text-decoration: underline ;
    color: white;
}
.vr{
    background-color: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.card {
    display: flex;
    justify-content: center;
    border-radius: 2em;
    border-color:rgb(187, 46, 41) !important ;
    color: rgb(187, 46, 41);
    border-width: 3px;
    flex-wrap: wrap;
    
}
.card-header{
    border-color: rgb(187, 46, 41) !important;
}
.card-img-top{
    display: flex;
    justify-content: center;
    
}
.card-img-top .logo{
    width: 40%;
}