@media screen and (min-width: 768px) {
    .card::before {
        content: '';
        width: 100px;
        height: 100px;
        position: absolute;
        left: -70px;
        top: -80px;
        transform: rotate(-10deg);
        mask: url("../../assets/imgs/accent.svg") 100% 100% no-repeat;
        mask-size: cover;
        background: var(--bs-white);
    }
}


body {
    background-image: linear-gradient(
        180deg, 
        hsl(from var(--bs-primary) h s l),
        hsl(from var(--bs-primary) h s l / .65)
    );
}
