.background{
    background-image: linear-gradient(180deg,rgb(187, 46, 41),rgba(187, 46, 41,40%));
    align-content: center;
    display: flex;
    flex-direction: column;
    
}
.background .container{
    align-self: flex-end;
    height: 100%;
}
/* .background .objects{
    align-self: flex-end;
} */
.container{
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    width: 40%;
    
}
.container .card{
    margin-top: auto;
    margin-bottom: auto;
}
.objects{

    width: 100%;
    justify-content:space-around;
    display:flex;
    overflow:visible;
    text-align: left;
}
.obj {
    font-size: 24px;
    color: #ebebeb;
    --delay: 0s;
    /* delay di default */
    animation:
        movement 9.6s linear var(--delay) infinite,
        pulse 10s linear infinite;
    border-radius: 1em;

    &:nth-child(3) {
        --delay: 500ms;
        transform: rotate(30deg);
    }

    &:nth-child(4) {
        transform: rotate(-60deg);
    }

    &:nth-child(5) {
        --delay: 700ms;
        transform: rotate(45deg);
    }

    &:nth-child(6) {
        transform: rotate(45deg);
    }

    &:nth-child(7) {
        transform: rotate(45deg);
    }

    &:nth-child(8) {
        --delay: 800ms;
        transform: rotate(45deg);
    }
}

@keyframes movement {
    from {
        transform: translateY(0%) rotate(-50deg);        
    }

    to {
        transform: translateY(calc(-100vh + -100%)) rotate(30deg)
    }
}
@keyframes pulse {
    0%{
        filter: opacity(0%);
    }
    50%{
        filter: opacity(100%);
    }
    100%{
        filter: opacity(0%);
    }
}