body {
    background-image: linear-gradient(
        180deg, 
        hsl(from #fff h s l),
        hsl(from var(--bs-primary) h s l / .17)
    );
}

h1::after {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    left: 58%;
    top: 34%;
    transform: rotate(30deg) scaleX(-1);
    mask: url("/assets/imgs/accent.svg") 100% 100% no-repeat;
    mask-size: cover;
    background: var(--bs-primary);
}