@font-face {
    font-family: 'Cinzel';
    src: url("/assets/fonts/Cinzel-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url("/assets/fonts/MerriweatherSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'SourceSans';
    src: url("/assets/fonts/SourceSans3-Regular.woff");
}

:root {
    --bs-primary: #bb2e29;
    --bs-primary-bg-subtle: #bb2e2997;
    --bs-primary-rgb: 187, 46, 41;
    --bs-list-group-active-bg: var(--bs-primary) !important;
}

.table-primary {
    --bs-table-bg: hsl(from var(--bs-primary) h s l / .70);
    --bs-table-active-bg: hsl(from var(--bs-primary) h s l / .90);
    --bs-table-border-color: var(--bs-primary);
}

.font-cinzel {
    font-family: "Cinzel" !important;
}

.font-merriweather {
    font-family: "Merriweather Sans" !important;
}

* {
    font-family: "SourceSans";
}

/*
* Buttons
*/
.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
}

.btn-primary:hover,
.btn-primary:focus-visible,
:not(.btn-check)+.btn-primary:active {
    background-color: hsl(from var(--bs-btn-bg) h s 35%);
    border-color: hsl(from var(--bs-btn-bg) h s 35%);
    box-shadow: none;
}

.btn-secondary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: var(--bs-primary);
}

.btn-secondary:hover,
.btn-secondary:focus-visible,
:not(.btn-check)+.btn-secondary:active {
    color: var(--bs-btn-color);
    --bs-btn-border-color: var(--bs-primary);
    background-color: hsl(from var(--bs-btn-bg) h s 90%);
    box-shadow: none;
}

/*
* Form control
*/
.form-control:focus {
    box-shadow: 0 0 0 .25rem hsl(from var(--bs-primary) h s l / .25);
    border-color: hsl(from var(--bs-primary) h s l / .75);
}

/*
* Headers
*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Merriweather Sans";
}

button,
[class*="btn"],
a {
    font-family: "Merriweather Sans";
}

/*
* General layout
*/
html,
body {
    min-height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-primary);
    --bs-gradient: none;
}

.pagination {
    --bs-pagination-color: var(--bs-primary);
    --bs-pagination-hover-color: var(--bs-primary);
    --bs-pagination-focus-color: var(--bs-primary);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: var(--bs-primary);
    --bs-pagination-active-border-color: var(--bs-primary);
}

.page-link {
    color: var(--bs-primary);
}

.page-link:focus {
    color: var(--bs-primary);
}

.page-link:hover {
    color: white;
    background-color: var(--bs-primary-bg-subtle);
}

.accordion {
    --bs-accordion-active-color: black;
}