body {
    background-image: linear-gradient(
        180deg, 
        hsl(from var(--bs-white) h s l),
        hsl(from var(--bs-primary) h s l / .17)
    );
}

h1::after {
    content: '';
    width: 70px;
    height: 70px;
    position: absolute;
    display: inline-block;
    top: -50px;
    transform: rotate(30deg) scaleX(-1);
    mask: url("/assets/imgs/accent.svg") 100% 100% no-repeat;
    mask-size: cover;
    background: var(--bs-primary);
}

@media screen and (max-width: 768px) {
    h1::after {
        display: none;
    }
}