body {
    background-image: linear-gradient(
        180deg, 
        hsl(from var(--bs-primary) h s l),
        hsl(from var(--bs-primary) h s l / .65)
    );
}

main {
    height: 100dvh;
}

main img {
    filter: brightness(0) invert(1);
    min-width: 64px;
    max-width: 450px;
}